In [26]:
# 1.

# Имеются следующие данные о транзакциях в период с 01.12.2010 по 12.09.2011:

# InvoiceNo — номер транзакции
# StockCode — код товара
# Description — описание товара
# Quantity — количество единиц товара, добавленных в заказ
# InvoiceDate — дата транзакции 
# UnitPrice — цена за единицу товара
# CustomerID — id клиента
# Country — страна, где проживает клиент

# В данной задаче ссылка для считывания данных лежит в переменной path_to_file.
# Импортируйте пандас и прочитайте данные с кодировкой ISO-8859-1.
# Запишите полученный датафрейм в retail, а названия колонок сохраните в переменную retail_columns.

path_to_file = '5_data.csv.zip'
import pandas as pd
retail = pd.read_csv(path_to_file, compression = 'zip', parse_dates = ['InvoiceDate'], encoding = 'ISO-8859-1')
retail_columns = retail.columns

In [23]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [21]:
retail.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [30]:
# 2.

# Проверьте, встречаются ли в данных повторяющиеся наблюдения,и в качестве ответа укажите их количество.
# Если они есть, то удалите их из retail.

retail_drop_duplicates = retail.drop_duplicates()
repeating_data = retail.shape[0] - retail_drop_duplicates.shape[0]
print(repeating_data)

5268

In [45]:
# 3.

# Данные содержат в себе записи как об успешных транзакциях, так и об отмененных.
# Если пользователь отменил заказ, в начале номера транзакции (InvoiceNo) ставится C (canceled). 
# Сколько всего транзакций отменили пользователи? Считайте, что каждая строка - это отдельная транзакция.

canceled_orders = retail_drop_duplicates.InvoiceNo.str.startswith('C').value_counts()
canceled_orders

False    527390
True       9251
Name: InvoiceNo, dtype: int64

In [48]:
# 4.

# Теперь отфильтруйте данные и оставьте в retail только те заказы, где Quantity > 0.
# В качестве ответа укажите число оставшихся строк.

retail_drop_duplicates.query('Quantity > 0').shape[0]

526054

In [ ]:
# 5.

# Посчитайте число заказов для каждого пользователя (CustomerID) из Германии (Germany).
# тавьте только тех, кто совершил более N транзакций (InvoiceNo), где N – 80% процентиль.
# Запишите полученные id пользователей в germany_top (не весь датафрейм, только id).
# Отфильтрованные данные записаны в retail. Идентификатор заказа – InvoiceNo.
# Для каждого заказа в данных может встречаться более 1 строки.