In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('RFM_ht_data.csv')
df.CustomerCode = df.CustomerCode.map(str)
df.head()

/opt/tljh/user/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        InvoiceNo CustomerCode InvoiceDate   Amount
0  C0011810010001     19067290  2020-09-01  1716.00
1  C0011810010017     13233933  2020-09-01  1489.74
2  C0011810010020     99057968  2020-09-01   151.47
3  C0011810010021     80007276  2020-09-01   146.72
4  C0011810010024     13164076  2020-09-01   104.00

Какое максимальное кол-во покупок было совершено одним пользователем?

In [11]:
df.groupby(['CustomerCode'], as_index = False).agg({'InvoiceNo': 'count'}).sort_values('InvoiceNo')

       CustomerCode  InvoiceNo
0          02213019          1
67249      18053075          1
67247      18053072          1
67245      18053055          1
67243      18053019          1
...             ...        ...
119951     99003061         90
97077      19080880         99
10347      13032521        106
44594      13215452        113
89388      19057820        204

[123733 rows x 2 columns]