In [8]:
import pandas as pd

In [17]:
df = pd.read_csv ('//mnt/HC_Volume_18315164/home-jupyter/jupyter-ale-frolov/Lesson 2/lesson_2_data.csv', encoding='windows-1251', sep = ';')

In [22]:
df.shape

(292, 8)

In [23]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [34]:
df = df.rename(columns={'Номер': 'number',
                'Дата создания': 'creation_date',
                'Дата оплаты': 'payment_date',
                'Title': 'title',
                'Статус': 'status',
                'Заработано': 'money',
                'Город': 'city',
                'Платежная система': 'payment_system'})

In [35]:
df

,number,creation_date,payment_date,title,status,money,city,payment_system
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.50,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.30,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.00,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.00,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.00,г.Москва и Московская область,NaN
...,...,...,...,...,...,...,...,...
287,1064720,30.12.2019 9:42,30.12.2019 12:49,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Самарская область,Яндекс.Касса
288,1064724,30.12.2019 11:32,NaN,Курс обучения «Консультант»,Отменен,0.00,NaN,NaN
289,1064775,31.12.2019 2:17,31.12.2019 2:22,Курс обучения «Консультант»,Завершен,7423.92,NaN,"Сбербанк эквайринг,Бонусный счет"
290,1064793,31.12.2019 16:40,01.01.2020 14:29,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,Завершен,2935.44,Республика Карелия,Яндекс.Касса
291,1064796,31.12.2019 17:29,31.12.2019 17:32,Курс от Школы Диетологов. Повышение квалификац...,Завершен,9898.56,Уфа,"Сбербанк эквайринг,Бонусный счет"

In [46]:
df[['title', 'number']].head

<bound method NDFrame.head of                                                  title   number
0                              Курс обучения «Эксперт»  1062823
1                              Курс обучения «Эксперт»  1062855
2                           Курс обучения «Специалист»  1062856
3                          Курс обучения «Консультант»  1062880
4                              Курс обучения «Эксперт»  1062899
..                                                 ...      ...
287  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  1064720
288                        Курс обучения «Консультант»  1064724
289                        Курс обучения «Консультант»  1064775
290  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  1064793
291  Курс от Школы Диетологов. Повышение квалификац...  1064796

[292 rows x 2 columns]>

In [47]:
all_money = df.money.sum()

In [48]:
all_money

992103.5900000001

In [53]:
df.groupby('title', as_index=False).aggregate({'money': 'sum'}).sort_values('money', ascending=False)

                                               title      money
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20
0                        Курс обучения «Консультант»  208163.49
1                         Курс обучения «Специалист»  160862.64
2                            Курс обучения «Эксперт»  148992.80
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92
3                   Курс от Школы Диетологов. Бизнес   18752.54