In [4]:
import requests
from urllib.parse import urlencode
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from scipy.stats import norm
import matplotlib.pyplot as plt

from tqdm.auto import tqdm

plt.style.use('ggplot')

In [15]:
def get_yandex_download_url(public_key):
    base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
    final_url = base_url + urlencode(dict(public_key = public_key))
    response = requests.get(final_url)
    download_url = response.json()['href']
    return download_url

df = 'https://disk.yandex.ru/d/1TFOJ7Z80VAEFw'
ab = pd.read_csv(get_yandex_download_url(df), sep = ';')
ab.value = ab.value.replace({',': '.'})
ab

     Unnamed: 0             value experimentVariant
0             1  10,3804953740268           Control
1             2  9,54686666784264           Control
2             3  11,0882146509904           Control
3             4  10,1472740570122           Control
4             5  9,78980767524929           Control
..          ...               ...               ...
995         996              1000         Treatment
996         997              1200         Treatment
997         998              1500         Treatment
998         999              2000         Treatment
999        1000              3000         Treatment

[1000 rows x 3 columns]

In [12]:
ab.dtypes

Unnamed: 0            int64
value                object
experimentVariant    object
dtype: object